Classifier name: classifiers/WI-CBS/mouldITS_class_dbn_classifier/mouldITS_class_dbn_classifier.classifier
Model: dbn
Data max: 20.0
K-mer number: 6
Fasta filename: data/moulddataset/mouldITS.fasta
Classification filename: data/moulddataset/CBSITS.classification
Column number to be classified: 2
Classes filename: classifiers/WI-CBS/mouldITS_class_dbn_classifier/mouldITS_class_dbn_classifier.classes
