Classifier name:  classifiers/WI-CBS/mouldITS_order_cnn_classifier/mouldITS_order_cnn_classifier.classifier
Model: cnn
Data max: 0
K-mer number: 6
Fasta filename: data/moulddataset/mouldITS.fasta
Classification filename: data/moulddataset/CBSITS.classification
Column number to be classified: 3
Classes filename:  classifiers/WI-CBS/mouldITS_order_cnn_classifier/mouldITS_order_cnn_classifier.classes
